<h1>Edit article</h1>
<% if @article %>
  <%= form_with model: @article, local: true, html: { class: "edit-article-form" } do |form| %>
    <div class="title-input-container">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="description-input-container">
      <%= form.label :description %>
      <%= form.text_area :description, class: "description-input", cols: "30", rows: "10" %>
    </div>
    <%= form.submit "Edit",  class: "submit-btn" %>
  <% end %>
<% else %>
  <p>Article not found.</p>
<% end %>

<a href="/articles" class="back-to-articles-btn">Back to articles</a>
