<h1>Edit article</h1>
<% if @article %>
  <% if @article.errors.any? %>
    <h4 class="error-msg">Your changes could not be saved because of these errors:</h4>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model: @article, method: "patch", url: "/articles/#{@article.id}/edit", local: true, html: { class: "edit-article-form" } do |form| %>
    <div class="title-input-container">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="description-input-container">
      <%= form.label :description %>
      <%= form.text_area :description, class: "description-input", cols: "30", rows: "10" %>
    </div>
    <%= form.submit "Edit",  class: "submit-btn" %>
  <% end %>
<% else %>
  <p>Article not found.</p>
<% end %>

<a href="/articles" class="back-to-articles-btn">Back to articles</a>
