<h1>List of articles</h1>
<a href="/articles/new">Create an article</a>
<table class="articles-table">
  <thead>
    <tr class="articles-table-header">
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>
          <a href="/articles/<%= article.id %>" class="action-btn">View</a>
          <a href="/articles/<%= article.id %>/edit" class="action-btn">Edit</a>
          <%= link_to "Delete", article_path(article), method: :delete,  class: "action-btn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
