<h1>List of articles</h1>
<a href="/articles/new">Create an article</a>
<table class="articles-table">
  <thead>
    <tr class="articles-table-header">
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>
          <a href="/articles/<%= article.id %>" class="action-btn">View</a>
          <a href="/articles/<%= article.id %>/edit" class="action-btn">Edit</a>
          <%= link_to "Delete", article_path(article), method: :delete,  class: "action-btn", data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="home-btn-container">
  <%= link_to "Back to home", root_path %>
</div>

<%#
TODO
- Having read the output of `rails routes --expanded` some more, where possible
and/or reasonable, replace hard-coded paths with values provided by Rails e.g
replace `/articles/new` with `new_article_path`. Check the `Prefix` rows of the
output of `rails routes --expanded` and then add `_path` to that prefix to get
the appropriate path. NB: `edit_article_path` doesn't exist and my guess is
that that has something to do with how I declared the path explicitly
in `config/routes.rb` instead of using `resources :articles` to generate it.
- Instead of using <a> anywhere in our code, use `link_to` instead.
%>
