<h1>Create an article</h1>
<%= form_with scope: :article, url: "/articles", local: true, html: { class: "create-article-form" } do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="description-input-container">
    <%= form.label :description %>
    <%= form.text_area :description, class: "description-input" %>
  </div>
  <div>
    <%= form.submit "Create", class: "submit-btn" %>
  </div>
<% end %>
