<% if @article %>
  <div class="article-details-container">
    <h2><%= @article.title %></h2>
    <p><%= @article.description %></p>
    <div class="action-btns-container">
      <%= link_to "Edit", "/articles/#{@article.id}/edit", class: "action-btn" %>
      <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "action-btn" %>
      <%= link_to "Back to articles", articles_path, class: "action-btn" %>
    </div>
  </div>
<% else %>
  <h2>Oops! Article not found.</h2>
  <div class="action-btns-container">
    <%= link_to "Back to articles", articles_path, class: "action-btn" %>
  </div>
<% end %>

